canvas {
        position: absolute;
        width: 50%;
        margin-top: 10vh;
        margin-left: 50vh;
        background: transparent;
      }
      #background {
        z-index: -2;
      }
      #main {
        z-index: -1;
      }
      #ship {
        z-index: 0;
      }
/*
canvas#background {
  height: 800px;
  width: 560px;
}
canvas#ship {
  height: 800px;
  width: 560px;
}
canvas#main {
  height: 800px;
  width: 560px;
}*/
